/* TOPBAR */
.aw-topbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	min-height: 50px;
	z-index: 9999;
	
	background-color: #1e94d2;
}

.aw-topbar > img {
	margin-top: 10px;
	margin-left: 5px;
}